

{% load static %}
<!-- Scrool to Top Start -->
{% comment %} <div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div> {% endcomment %}
<!-- Scrool to Top End -->
<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer pt-5 md-pt-70 sm-pt-65">
    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="row">
                        {% for sponsors in sponsors %}
                        <div class="col-lg-3 col-md-4 col-6 text-center">
                            <div class="logos">
                                <img class="pb-5 pb-lg-0" src="{{sponsors.sponsors_logo.crop.165x83}}" alt="">
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bootom">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-md-7">
                    <div class="copyright">
                        <p>© 2022 Laa Masia FC. All Rights Reserved. </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-share text-lg-right text-md-center">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100082672176807"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/LAAMASIAFCKERA3?t=TS8wzoizd7kTe360NIdmhA&s=09"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/laa.masia_fc_kerala_/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer End -->





