{% load static %}
<!--Preloader area start here-->
 <div id="loading" class="loading">
    <div class="rs-loader">
        <div class="rs-shadow"></div>
        <div class="rs-gravity">
            <div class="rs-ball"></div>
        </div>
    </div>
</div> 
<!--Preloader area End here-->

<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header homestyle">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container-fluid">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-2">
                        <div class="logo-area">
                            <a href="/"><img src="{% static 'images/fc.png' %}"  alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 mobile-menu-area">
                        <div class="rs-menu-area display-flex-center">
                            <div class="main-menu">
                                <a class="rs-menu-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <nav class="rs-menu">
                                    <ul class="nav-menu text-right">
                                        <!-- Home -->
                                        <li class="{% if is_index %} current-menu-item {% endif %}  "> <a href="/"
                                                class="home">Home</a></li>

                                        <!-- End Home -->

                                        <!-- club -->
                                        <li class="menu-item-has-children {% if is_club %} current-menu-item {% endif %}"> <a
                                               >club</a>
                                                <ul class="sub-menu">

                                                    <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                        <a href="/team/reserve-senior">Reserve Senior</a>
                                                    </li>
                                                    <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                            href="/team/under-18">Under 18</a></li>
                                                    <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                            href="/team/under-15">Under 15</a></li>
                                                    <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                            href="/team/under-13">Under 13</a></li>
                                                    <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                            href="/team/under-12">Under 12</a></li>
    
                                                </ul>    
                                        </li>
                                        <!-- end club -->

                                        <!-- About Start -->
                                        <li
                                            class="menu-item-has-children {% if is_board_management %} current-menu-item {% endif %} {% if is_sponsors %} current-menu-item {% endif %} {% if is_history %} current-menu-item {% endif %}">
                                            <a >About</a>
                                            <ul class="sub-menu">

                                                <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                    <a href="/board-management">Board Management</a>
                                                </li>
                                                <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                        href="/sponsors">Sponsors</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/history">History</a></li>

                                            </ul>
                                        </li>

                                        <!-- About End -->

                                        <li class="{% if is_gallery %} current-menu-item {% endif %}"> <a
                                                href="/gallery">Gallery</a>



                                            <!--News Start-->
                                        <li class="{% if is_news %} current-menu-item {% endif %}"> <a
                                                href="/news">News</a>

                                        </li>
                                        <!--Point Table End-->


                                        <!--Contact Menu Start-->
                                        <li class="{% if is_contact %} current-menu-item {% endif %}"><a
                                                href="/contact">Contact</a></li>
                                        <!--Contact Menu End-->
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->


    </header>
    <!--Header End-->
</div>
<!--Full width header End-->