{% load static %}
<!--Preloader area start here-->
{% comment %} <div id="loading" class="loading">
    <div class="rs-loader">
        <div class="rs-shadow"></div>
        <div class="rs-gravity">
            <div class="rs-ball"></div>
        </div>
    </div>
</div> {% endcomment %}
<!--Preloader area End here-->
<style>


    .button-62 {
        background-image: linear-gradient(to right, #d2202e 0%,  #ea950b 100%);
      border: 0;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
    }
    
    .button-62:not([disabled]):focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
    .button-62:not([disabled]):hover {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    .fclogo{
        height: 80px;
        width: 60px;
    }
    @media only screen and (max-width: 400px){
        .fclogo{
        height: 38px;
        width: 50px;
    }
    /* .Joinbuttonclass{
        margin-right: 100px;
    } */
    }
    @media only screen and (max-width: 800px){
        .Joinbuttonclass{
        margin-left: 400px;
    }
    }
    @media only screen and (max-width: 500px){
        .Joinbuttonclass{
        margin-left: 184px;
        /* font-size: 11px; */
        
    }
    .button-62{
        display: none;
        /* font-size: 11px;
        line-height: 1.5;
        width: 100px; */
        /* margin-left: 43px; */
    }
    /* .togglewith .fa{
        height: 100px;
        width: 100px;
    } */
    }
    </style>







<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header homestyle">
        <!-- Menu Start -->

        <!-- large -->
        <div class="menu-area menu-sticky d-none d-sm-block">
            <div class="container-fluid">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-1 col-1">
                        <div class="logo-area">
                            <a href="/"><img src="{% static 'images/fc.svg' %}"  class="my-2 fclogo" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 mobile-menu-area col-10">
                        <div class="rs-menu-area display-flex-center">
                            <!-- <button>jhjk</button> -->
                            <div class="main-menu">
                                <!-- <button>ertqwerfw</button> -->
                                <a class="rs-menu-toggle togglewith">
                                    <i class="fa fa-bars"></i>

                                </a>
                                

                                <nav class="rs-menu">
                                   
                                    <ul class="nav-menu text-right">
                                        <!-- Home -->
                                        <li class="{% if is_index %} current-menu-item {% endif %}  "> <a href="/"
                                                class="home">Home</a></li>

                                        <!-- End Home -->

                                        <!-- club -->
                                        <li
                                            class="menu-item-has-children {% if is_club %} current-menu-item {% endif %}">
                                            <a>club</a>
                                            <ul class="sub-menu">

                                                <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                    <a href="/team/reserve-senior">Reserve Senior</a>
                                                </li>
                                                <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                        href="/team/under-18">Under 18</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-15">Under 15</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-13">Under 13</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-12">Under 12</a></li>

                                            </ul>
                                        </li>
                                        <!-- end club -->

                                        <!-- About Start -->
                                        <li
                                            class="menu-item-has-children {% if is_board_management %} current-menu-item {% endif %} {% if is_sponsors %} current-menu-item {% endif %} {% if is_history %} current-menu-item {% endif %}">
                                            <a>About</a>
                                            <ul class="sub-menu">

                                                <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                    <a href="/board-management">Board Management</a>
                                                </li>
                                                <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                        href="/sponsors">Sponsors</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/history">History</a></li>

                                            </ul>
                                        </li>





                                        <!-- About End -->
                                       <!-- <li class="{% if is_match %} current-menu-item {% endif %}"> <a
                                                href="/match-fixtures">Match Fixtures</a> </li> 
                                        <li class="{% if is_join %} current-menu-item {% endif %}"> 
                                               <a href="/joinacademy">Join Academy</a>
                                           
                                        </li> -->
                                        <li class="{% if is_gallery %} current-menu-item {% endif %}"> <a
                                                href="/gallery">Gallery</a>

                                        </li>

                                            <!--News Start-->
                                        <li class="{% if is_news %} current-menu-item {% endif %}"> <a
                                                href="/news">News</a>

                                        </li>
                                        <!--Point Table End-->


                                        <!--Contact Menu Start-->
                                        <li class="{% if is_contact %} current-menu-item {% endif %}"><a
                                                href="/contact">Contact</a></li>
                                        <!--Contact Menu End-->
                                        <!-- <li>
                                            <a href="/joinacademy"> <button class="button-62" role="button">Join Academy</button> </a>
                                        </li> -->

                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                    <div class="col-lg-1 col-1 Joinbuttonclass">
                        <a href="/joinacademy"> <button class="button-62" role="button">Join Academy</button> </a>
                    </div>
                    <!-- HTML !-->


                </div>
            </div>
        </div>
        <!-- Menu End -->



        <!--small  -->

        <div class="menu-area menu-sticky d-sm-none d-block">
            <div class="container-fluid">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-1 col-1" >
                        <div class="logo-area">
                            <a href="/"><img src="{% static 'images/fc.svg' %}"  class="my-2 fclogo" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 mobile-menu-area col-10">
                        <div class="rs-menu-area display-flex-center">
                            <!-- <button>jhjk</button> -->
                            <div class="main-menu" >
                                <!-- <button>ertqwerfw</button> -->
                                
                                <a class="rs-menu-toggle " >
                                    <i style="font-size: 20px;" class="fa fa-bars" ></i>

                                </a>
                                

                                <nav class="rs-menu">
                                   
                                    <ul class="nav-menu text-right">
                                        <!-- Home -->
                                        <li class="{% if is_index %} current-menu-item {% endif %}  "> <a href="/"
                                              style="background-color: #004168;"  class="home">Home</a></li>

                                        <!-- End Home -->

                                        <!-- club -->
                                        <li style="background-color: #004168;"
                                            class="menu-item-has-children {% if is_club %} current-menu-item {% endif %}">
                                            <a>club</a>
                                            <ul class="sub-menu">

                                                <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                    <a href="/team/reserve-senior">Reserve Senior</a>
                                                </li>
                                                <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                        href="/team/under-18">Under 18</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-15">Under 15</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-13">Under 13</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/team/under-12">Under 12</a></li>

                                            </ul>
                                        </li>
                                        <!-- end club -->

                                        <!-- About Start -->
                                        <li
                                            class="menu-item-has-children {% if is_board_management %} current-menu-item {% endif %} {% if is_sponsors %} current-menu-item {% endif %} {% if is_history %} current-menu-item {% endif %}">
                                            <a>About</a>
                                            <ul class="sub-menu">

                                                <li class="{% if is_board_management %} current-menu-item {% endif %}">
                                                    <a href="/board-management">Board Management</a>
                                                </li>
                                                <li class="{% if is_sponsors %} current-menu-item {% endif %}"><a
                                                        href="/sponsors">Sponsors</a></li>
                                                <li class="{% if is_history %} current-menu-item {% endif %}"><a
                                                        href="/history">History</a></li>

                                            </ul>
                                        </li>





                                        <!-- About End -->
                                       <!-- <li class="{% if is_match %} current-menu-item {% endif %}"> <a
                                                href="/match-fixtures">Match Fixtures</a> </li> 
                                        <li class="{% if is_join %} current-menu-item {% endif %}"> 
                                               <a href="/joinacademy">Join Academy</a>
                                           
                                        </li> -->
                                        <li class="{% if is_gallery %} current-menu-item {% endif %}"> <a
                                                href="/gallery">Gallery</a>

                                        </li>

                                            <!--News Start-->
                                        <li class="{% if is_news %} current-menu-item {% endif %}"> <a
                                                href="/news">News</a>

                                        </li>
                                        <!--Point Table End-->


                                        <!--Contact Menu Start-->
                                        <li class="{% if is_contact %} current-menu-item {% endif %}"><a
                                                href="/contact">Contact</a></li>
                                        <!--Contact Menu End-->
                                        <!-- <li>
                                            <a href="/joinacademy"> <button class="button-62" role="button">Join Academy</button> </a>
                                        </li> -->

                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                    <div class="col-lg-1 col-1 Joinbuttonclass">
                        <a href="/joinacademy"> <button class="button-62" role="button">Join Academy</button> </a>
                    </div>
                    <!-- HTML !-->


                </div>
            </div>
        </div>

        <!--end small  -->


    </header>
    <!--Header End-->
</div>
<!--Full width header End-->
