{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/breadcrumbs/inner10.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title mb-17">Blog</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Blog</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Blog Section Start -->
        <div class="rs-blog modify pt-100 md-pt-80 md-pb-80">
            <div class="container">
                <div class="pb-100 md-pb-80">
                    <div class="row">
                        {% for news in news %}
                        <div class="col-lg-6 mb-30">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <div class="image-wrap">
                                        <a href="#"><img src="{{news.image.crop.590x364}}" alt=""></a>
                                    </div>
                                    <div class="all-meta">
                                        <div class="meta meta-date">
                                            <span class="month-day">{{news.date.day}}</span>
                                            <span class="month-name">{{news.date|date:"M"}}</span>
                                        </div>
                                        <div class="meta meta-author">
                                            <i class="flaticon-user-1"></i>
                                            <span class="author">admin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h4 class="blog-title">
                                        <a href="#">{{news.heading}}</a>
                                    </h4>
                                    <div class="blog-desc">T{{news.news_description}}...</div>
                                   
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
                {% include 'partials/subscription.html' %}
            </div>
        </div>
{% endblock %}