{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">Board Management</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Board Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Board Managment Section Start -->
<div class="rs-board-staff pt-100 md-pt-80">
    <div class="container">
        <div class="staf-wrap pb-100 md-pb-80">
            <ul class="staf-area">
               {% for managements in boardManagement %}
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="{{managements.photo.crop.210x265}}" style="width: 100%;" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">{{managements.name}}</h3>
                                <h4 class="staff-sub">{{managements.position}}</h4>
                                <span class="sub1 text-capitalize"><i>Citizenship </i>:{{managements.citizenship}}</span>
                                <span class="sub3"><i>Born </i>:{{managements.date_of_birth}}</span>
                                
                            
                            </div>
                        </div>
                    </div>
                </li>
               {% endfor %}
            </ul>
        </div>
       
                {% include 'partials/subscription.html' %}
            </div>
        </div>
        {% endblock %}