{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/breadcrumbs/inner10.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">Board Management</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Board Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Board Managment Section Start -->
<div class="rs-board-staff pt-100 md-pt-80">
    <div class="container">
        <div class="staf-wrap pb-100 md-pb-80">
            <ul class="staf-area">
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/1.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Juak Corlos Carkeds</h3>
                                <h4 class="staff-sub">Director</h4>
                                <span class="sub1"><i>Position</i>: Assistant of Head Coach</span>
                                <span class="sub2"><i>Born </i>: August 19, 1970</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/2.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Dkenser Burgesk</h3>
                                <h4 class="staff-sub">Manager</h4>
                                <span class="sub1"><i>Position</i>: Manager of Head</span>
                                <span class="sub2"><i>Born </i>: May 19, 1975</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/3.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Shkd Forsyke</h3>
                                <h4 class="staff-sub">Head Coach</h4>
                                <span class="sub1"><i>Position</i>: Assistant of Head Coach</span>
                                <span class="sub2"><i>Born </i>: August 19, 1980</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/4.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Mikhs Zikan</h3>
                                <h4 class="staff-sub">Data Analyst</h4>
                                <span class="sub1"><i>Position</i>: Assistant of Data Analyst</span>
                                <span class="sub2"><i>Born </i>: Jun 19, 1875</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/5.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Corlos Carkeds</h3>
                                <h4 class="staff-sub">Team Analyst</h4>
                                <span class="sub1"><i>Position</i>: First Team Analyst</span>
                                <span class="sub2"><i>Born </i>: August 19, 1870</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="staff-item">
                    <div class="item-wrap">
                        <div class="staff-img">
                            <img src="images/board-staff/6.jpg" alt="">
                        </div>
                        <div class="staff-desc">
                            <div class="inner-desc">
                                <h3 class="staff-title">Juak Corlos</h3>
                                <h4 class="staff-sub">Club Doctor</h4>
                                <span class="sub1"><i>Position</i>: Assistant of Head doctor</span>
                                <span class="sub2"><i>Born </i>: August 19, 1950</span>
                                <span class="sub3"><i>Joined Club</i>: Man City</span>
                                <p class="margin-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
       
                {% include 'partials/subscription.html' %}
            </div>
        </div>
        {% endblock %}