{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">Cart</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- Breadcrumbs Section End -->

<!-- Cart Section Start -->
<div class="rs-cart pt-100 md-pt-80">
    <div class="container">
        <div class="cart-wrap pb-100 md-pb-80">
            <form>
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th class="product-remove"></th>
                            <th class="product-thumbnail"></th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cartitems%}
                        <tr>
                            <td class="product-remove"><a onclick="DeleteItem({{i.product.id}})">×</a></td>
                            <td class="product-thumbnail"><a href="#"><img src="{{i.product.product_image.url}}"
                                        alt=""></a></td>
                            <td class="product-name"><a href="#">{{ i.product.productname}}</a></td>
                            <td class="product-price"><span>£</span><span id="price{{i.id}}">{{ i.product.price}}</span>
                            </td>
                            <td class="product-quantity"><input type="number" id="qty{{i.id}}"
                                    onchange="changeqty({{i.id}})" readonly class="input-text" step="1" min="0" max=""
                                    value="{{i.qty}}" pattern="[0-9]*"></td>
                            <td class="subtotal"><span class="amount"><span class="symbol">RS </span>
                                    <span>{{i.total}}</span> </span></td>
                        </tr>
                        {% endfor %}
                        <!-- <tr>
                            <td colspan="6" class="action text-right">
                                <div class="coupon">
                                    <form>
                                        <input type="text" name="text" placeholder="Coupon code" required>
                                        <button type="submit" class="readon">apply coupon</button>
                                    </form>
                                </div>
                                <div class="update-cart">
                                    <a href="#" class="readon">Update cart</a>
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </form>
            <div class="cart-collaterals pt-70 md-pt-50">
                <div class="cart-totals">
                    <h5 class="title mb-25">Cart totals</h5>
                    <table class="cart-total-table">
                        <tbody>
                            <!-- <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount"><span>£</span>130.00</span></td>
                            </tr> -->
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span
                                            class="amount"><span>£</span><span>{{totalAmonut}}</span></span></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="wc-proceed-to-checkout">
                        <a href="/create-checkout-session" class="readon d-block text-white"> Proceed to checkout</a>

                        {% comment %} <a onclick="SaveAndProceed()" class="readon d-block text-white"> Proceed to
                            checkout</a> {% endcomment %}
                    </div>
                </div>


            </div>
            {% if status == 1 %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    // function changeqty(id) {
    //     var completeTotal = 0
    //     var qty = $("#qty" + id).val()
    //     price = $("#price" + id).html()
    //     sum = qty * price
    //     $("#Grandtotal" + id).html(sum)
    //     var total = $("#total").html()
    //     completeTotal = parseInt(total) + sum
    //     $("#total").html(completeTotal)
    // }
    function DeleteItem(id) {
        $.ajax({
            url: "/deletecartitem",
            type: 'POST',
            data: {
                'id': id,

            },

            success: function (responce) {

                location.reload()

            }

        })
    }

    function SaveAndProceed() {
        $.ajax({
            url: "/savedata",
            type: 'GET',
            // data: {
            //     'id': id,

            // },

            success: function (responce) {

                location.reload()

            }

        })
    }
</script>

{% endblock %}