{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/banner.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">Contact</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Contact Section Start -->
<div class="rs-contact">
    <!-- Contact Icon Start -->
    <div class="rs-contact-icon pt-100 pb-100 md-pb-80 md-pt-80">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mx-auto md-mb-30">
                    <div class="single-icon text-center">
                        <div class="icon-part">
                            <i class="flaticon-phone"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="icon-title">Call Us</h3>
                            <a class="icon-info" href="tel:+123456789">8301936608</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mx-auto md-mb-30">
                    <div class="single-icon text-center">
                        <div class="icon-part">
                            <i class="flaticon-email"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="icon-title">Mail Us</h3>
                            <a class="icon-info" href="mailto:laamasiafckerala@gmail.com">laamasiafckerala@gmail.com</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mx-auto xs-mb-30">
                    <div class="single-icon text-center">
                        <div class="icon-part">
                            <i class="flaticon-send"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="icon-title">Fax</h3>
                            <span>+3301-341-0476</span>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mx-auto">
                    <div class="single-icon text-center">
                        <div class="icon-part">
                            <i class="flaticon-location"></i>
                        </div>
                        <div class="icon-text after-none text-capitalize">
                            <h3 class="icon-title">Address</h3>
                            <span>Kerala , Malappuram </span> <br>
                            <span>Aykkarapadi near kuriyodam , pin-:673637</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Icon End -->

    <!-- Contact Form And Map Start -->
    <div class="contact-part sec-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 md-mb-30">
                    <div class="g-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.2045208313993!2d75.89603951480433!3d11.172487592053512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x42e25a32c7ca6eae!2zMTHCsDEwJzIxLjAiTiA3NcKwNTMnNTMuNiJF!5e0!3m2!1sen!2sin!4v1655894660193!5m2!1sen!2sin" ></iframe>                    </div>
                </div>
                <div class="col-lg-6 pl-50 md-pl-15">
                    <div class="contact-area">
                        <div class="title-style mb-50">
                            <h2 class="margin-0 uppercase">Get in Touch</h2>
                            <span class="line-bg left-line pt-10 y-b"></span>
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" class="contact-form" method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="from-control">
                                        <input name="name" type="text" placeholder="Name" id="name" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="from-control">
                                        <input name="email" type="email" placeholder="E-Mail" id="email"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="from-control">
                                        <input name="number" type="text" placeholder="Phone Number" id="phone_number"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="from-control">
                                        <input name="subject" type="text" placeholder="Subject" id="subject"
                                            required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="from-control">
                                <textarea name="message" placeholder="Your Message Here" id="message"
                                    required="required"></textarea>
                            </div>
                            <div class="submit-btn">
                                <button class="readon" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form And Map End -->
    <div class="rs-blog modify pt-100 md-pt-80 md-pb-80">
        <div class="container">
            {% include 'partials/subscription.html' %}
        </div>
    </div>

    {% endblock %}