
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/breadcrumbs/inner16.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text inner-team">
                            <h1 class="breadcrumbs-title mb-17">First Team</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="index">Home</a></li>
                                    <li class="active">First Team</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Team Section Start -->
        <div class="rs-team style7 first-team pt-100 md-pt-70">
            <div class="container custom">
                <div class="team-inner pb-85 md-pb-70">
                    <div class="heading-title pb-50">
                        <h2 class="title">Goalkeepers</h2>
                        <span class="lines-bg"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/1.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">01</span>
                                    <a href="#">Martinez</a>
                                    <span class="player-position">Goalkeeper</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/2.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">08</span>
                                    <a href="#">Franco Armani</a>
                                    <span class="player-position">Goalkeeper</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 sm-mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/3.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">09</span>
                                    <a href="#"> Andrada</a>
                                    <span class="player-position">Goalkeeper</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/4.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">17</span>
                                    <a href="#">Juan Musso</a>
                                    <span class="player-position">Goalkeeper</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-inner pb-85 md-pb-70">
                    <div class="heading-title pb-50">
                        <h2 class="title">Defenders</h2>
                        <span class="lines-bg"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/5.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">23</span>
                                    <a href="#">Romero</a>
                                    <span class="player-position">Defender</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/6.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">17</span>
                                    <a href="#">Otamendi</a>
                                    <span class="player-position">Defender</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 sm-mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/7.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">21</span>
                                    <a href="#">Juan Foyth</a>
                                    <span class="player-position">Defender</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/8.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">16</span>
                                    <a href="#">Nahuel Molina</a>
                                    <span class="player-position">Defender</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-inner pb-85 md-pb-70">
                    <div class="heading-title pb-50">
                        <h2 class="title">Midfielders</h2>
                        <span class="lines-bg"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/9.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">11</span>
                                    <a href="#">Di Maria</a>
                                    <span class="player-position">Midfielder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/10.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">07</span>
                                    <a href="#"> De Paul</a>
                                    <span class="player-position">Midfielder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 sm-mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/11.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">22</span>
                                    <a href="#"> Correa</a>
                                    <span class="player-position">Midfielder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/12.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">05</span>
                                    <a href="#"> Paredes</a>
                                    <span class="player-position">Midfielder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-inner pb-100 md-pb-70">
                    <div class="heading-title pb-50">
                        <h2 class="title">Forwards</h2>
                        <span class="lines-bg"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/13.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">10</span>
                                    <a href="#">Lionel Messi</a>
                                    <span class="player-position">Forward</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/14.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">09</span>
                                    <a href="#">Sergio Aguero</a>
                                    <span class="player-position">Forward</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 sm-mb-30">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/15.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">08</span>
                                    <a href="#">Martínez</a>
                                    <span class="player-position">Forward</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-item-inner">
                                <a href="#">
                                    <img src="images/team/first-team/16.jpg" alt="Team">
                                </a>
                                <div class="normal-text">
                                    <span class="squad-numbers">12</span>
                                    <a href="#">Dybala</a>
                                    <span class="player-position">Forward</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                {% endblock %}