{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/breadcrumbs/inner16.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text inner-team">
                    <h1 class="breadcrumbs-title mb-17">First Team</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">First Team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Team Section Start -->
<div class="rs-team style7 first-team pt-100 md-pt-70">
    <div class="container custom">
        <div class="team-inner pb-85 md-pb-70">
            <div class="heading-title pb-50">
                <h2 class="title">Goalkeepers</h2>
                <span class="lines-bg"></span>
            </div>
            <div class="row">
                {% for goalKeepers in goalKeepers %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-30 ">
                    <div class="team-item-inner">
                        <a href="#">
                            <img src="{{goalKeepers.photo.crop.307x388}}" alt="Team">
                        </a>
                        <div class="normal-text">
                            <span class="squad-numbers">{{goalKeepers.kit_number}}</span>
                            <a href="player_profile/{{goalKeepers.id}}">{{goalKeepers.name}}</a>
                            <span class="player-position">Goalkeeper</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="team-inner pb-85 md-pb-70">
            <div class="heading-title pb-50">
                <h2 class="title">Defenders</h2>
                <span class="lines-bg"></span>
            </div>
            <div class="row">
                {% for defenders in defenders %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-30 ">
                    <div class="team-item-inner">
                        <a href="#">
                            <img src="{{defenders.photo.crop.307x388}}" alt="Team">
                        </a>
                        <div class="normal-text">
                            <span class="squad-numbers">{{defenders.kit_number}}</span>
                            <a href="player_profile/{{defenders.id}}">{{defenders.name}}</a>
                            <span class="player-position">Defender</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="team-inner pb-85 md-pb-70">
            <div class="heading-title pb-50">
                <h2 class="title">Midfielders</h2>
                <span class="lines-bg"></span>
            </div>
            <div class="row">
                {% for midfielder in midfielder%}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-30 ">
                    <div class="team-item-inner">
                        <a href="#">
                            <img src="{{midfielder.photo.crop.307x388}}" alt="Team">
                        </a>
                        <div class="normal-text">
                            <span class="squad-numbers">{{midfielder.kit_number}}</span>
                            <a href="player_profile/{{midfielder.id}}">{{midfielder.name}}</a>
                            <span class="player-position">Midfielder</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="team-inner pb-100 md-pb-70">
            <div class="heading-title pb-50">
                <h2 class="title">Forwards</h2>
                <span class="lines-bg"></span>
            </div>
            <div class="row">
                {% for forwarder in forwarder %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-30 ">
                    <div class="team-item-inner">
                        <a href="#">
                            <img src="{{forwarder.photo.crop.307x388}}" alt="Team">
                        </a>
                        <div class="normal-text">
                            <span class="squad-numbers">{{forwarder.kit_number}}</span>
                            <a href="player_profile/{{forwarder.id}}">{{forwarder.name}}</a>
                            <span class="player-position">Forward</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        
    </div>
</div>
<div class="rs-gallery style1 pt-92 md-pt-72">
    <div class="container">
        {% include 'partials/subscription.html' %}
    </div>
</div>
        {% endblock %}