
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/breadcrumbs/inner8.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title mb-17">Gallery</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Gallery</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Match Gallery Start -->
        <div class="rs-gallery style1 pt-100 md-pt-80">
            <div class="container">
                <div class="row pb-100 md-pb-80">
                    {% for images in gallery %}
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="gallery-grid">
                            <img src="{{images.images.crop.383x279}}" alt="Gallery Image">
                            <a class="image-popup view-btn" href="{{images.images.url}}">
                                <i class="flaticon-add-circular-button"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
                {% include 'partials/subscription.html' %}
            </div>
        </div>

               {% endblock %}