{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">League & Cups</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">League & Cups</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->




<div class="rs-awards bg6 pt-92 pb-100 md-pt-72 md-pb-80" >
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="margin-0 uppercase white-color">League & Cups</h2>
            <span class="line-bg y-w pt-10"></span>
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="item">
                    <div class="award-wrap">
                        <div class="champion-logo text-center">
                            <img src="{% static 'images/award/1.png' %}" alt="">
                        </div>
                        <div class="champion-details">
                            <div class="year-details">
                                <h3>999 football League</h3>
                            </div>
                           <a href="/singleleaguedetails"><div class="champion-no">View More</div></a> 
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="item">
                    <div class="award-wrap">
                        <div class="champion-logo text-center">
                            <img src="{% static 'images/award/1.png' %}" alt="">
                        </div>
                        <div class="champion-details">
                            <div class="year-details">
                                <h3>Gedexo Kerala Super League</h3>
                            </div>
                           <a href="/singleleaguedetails"><div class="champion-no">View More</div></a> 
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="item">
                    <div class="award-wrap">
                        <div class="champion-logo text-center">
                            <img src="{% static 'images/award/1.png' %}" alt="">
                        </div>
                        <div class="champion-details">
                            <div class="year-details">
                                <h3>Impex super cup</h3>
                            </div>
                           <a href="/singleleaguedetails"><div class="champion-no">View More</div></a> 
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
<div class="rs-gallery style1 pt-92 md-pt-72">
    <div class="container">
        {% include 'partials/subscription.html' %}
    </div>
</div>
{% endblock %}