{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title mb-17">Shop</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Products</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Top Products Start -->
        <div class="rs-products pt-100 md-pt-80">
            <div class="container">
               
                <div class="row pb-100 md-pb-80">
                    {% for i in product %}
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="products">
                            <div class="product-img">
                                <a href="/productsingle/{{i.id}}"><img src="{{i.product_image.crop.220x211}}" alt=""></a>
                            </div>
                            <h4 class="product-title"><a href="#">{{i.category.category_name}}</a></h4>
                            <span class="product-price">
                                <span class="symbol">RS</span> {{i.price}}
                            </span>
                            {% comment %} <div class="cart-button">
                                <a href="/cart"><i class="flaticon-basket"></i></a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include 'partials/subscription.html' %}
            </div>
        </div>
        
{% endblock %}