{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<style> @media only screen and (max-width: 400px) {
 .titleheading{
 font-size: 14px !important;
}
}
   
</style>

<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17 titleheading">{{name}}</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/league">League & Cups</a></li>
                            <li class="active">{{name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<div class="rs-about pt-100 pb-100 md-pt-80 md-pb-73">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center">
                <div class="about-img">
                    <img src="{% static 'images/award/1.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 pl-40 col-padding-md">
                <div class="title-style mb-50 md-mb-30">
                    <h2 class="margin-0 uppercase">{{name}}</h2>
                    <span class="line-bg y-b left-line pt-10"></span>
                </div>
                <div class="about-wrap">
                    <p class="title-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod voluptatem pariatur eveniet velit minima quia illo ut ea provident maiores nisi possimus distinctio inventore, consequatur voluptatibus, nulla temporibus at. Aliquid. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde dolorem voluptatum repudiandae repellat voluptatibus molestiae laboriosam. In officia nemo quo ullam quisquam! Similique exercitationem ut consequuntur molestias facere reiciendis hic. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, nostrum odio dolore optio quidem nemo sint fuga aspernatur nesciunt quasi similique perspiciatis obcaecati veritatis quas, pariatur minus dolorem voluptates dicta..</p>

                </div>
               

            </div>
        </div>
    </div>
</div>


<div class="rs-team style1 nav-style ">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Club Logos</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>

        <div class="rs-carousel owl-carousel mb-100 md-mb-80" data-loop="true" data-items="4" data-margin="30"
            data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true"
            data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false"
            data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
            data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true"
            data-md-device-dots="false">
            {% for i in leagueteam %}
            <div class="player-item">
                <div class="player-img">
                    <a href="/club/{{i.id}}">
                        <img src="{{i.teamlogo.url}}" alt="">
                    </a>
                </div>

            </div>
            {% endfor %}
           
            

        </div>
    </div>
</div>

<!-- Match Fixture Section Start -->
<div class="rs-match-fixture style2 pt-100 md-pt-80">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Match Fixtures</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <div class="match-list bg11 pt-57 pb-57 md-pt-27 md-pb-27 mb-100 md-mb-80">
            <table>
                <tbody>
                    {% for i in matchfixture %}
                    <tr>
                        <td class="medium-font">{{i.team1.team}}</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">{{i.team2.team}}</td>
                        <td>{{i.match_date}}</td>
                        <td>{{i.stadium}}</td>
                    </tr>
                    {% endfor %}
                    
                   
                </tbody>
            </table>
        </div>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>
<!-- Match Fixture Section End -->


<!-- Result Info Section Start -->
<div class="rs-result inner pt-100 md-pt-80">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Results</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <div class="result-info pb-100 md-pb-80">
            <table class="result-table">
                <tbody>
                    {% for i in completedmatch %}
                    <tr>
                        <td class="logo"><img class="size-60" src="{{i.team1.teamlogo.url}}" alt="">{{i.team1.team}}</td>
                        <td><span class="total-goal">{{i.team1_goals}}-{{i.team2_goals}}</span></td>
                        <td class="logo"><img class="size-60" src="{{i.team2.teamlogo.url}}"
                                alt="">{{i.team2.team}}</td>
                        <td>{{i.match_date}}</td>
                        {% comment %} <td><a href="#" class="readon">View Statictics</a></td> {% endcomment %}
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>
<!-- Result Info Section End -->

<div class="rs-pointtable inner-style  full-ranking ">
    <div class="container custom">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Point Table</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <table class="ranking-wrap">
            <tbody>
                <tr>
                    <th>POS</th>
                    <th class="team">Team</th>
                    <th>M</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GS</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
                {% for i in pointlist %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{{i.pic.url}}" alt="Image">
                               {{i.team}}
                            </a>
                        </div>
                    </td>
                    <td>{{i.match}}</td>
                    <td>{{i.win}}</td>
                    <td>{{i.draw}}</td>
                    <td>{{i.lose}}</td>
                    <td>{{i.goalscore}}</td>
                    <td>{{i.goalgained}}</td>
                    <td>{{i.goaldifference}}</td>
                    <td>{{i.totalpoint}}</td>
                </tr>
               
               {% endfor %}
            </tbody>
        </table>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>

<!-- Point Table Start -->



{% endblock %}