{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner vertical-middle">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title margin-0">{{clubdetails.club.team}}</h1>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Single Club Section Start -->
        <div class="rs-single-club sec-bg md-pb-80" style="margin-top: 20px;">
            <div class="container">
                <!-- {% if completematch == 1 %}
                {% else %}
                <div class="rs-match-result style1 modify-style fly-box">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
                        
                        {% for i in matchlist2 %}
                        <div class="items">
                            <a href="#">
                                <div class="vanues">
                                    <div class="date">{{i.match_date}}</div>
                                </div>
                                <div class="teams">
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team1.teamlogo.url}}" alt="{{i.team1.team }}">
                                        <div class="name">{{i.team1.team }}</div>
                                    </div>
                                    <div class="time-vs">
                                        <span class="vs">vs</span>
                                    </div>
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team2.teamlogo.url}}" alt="{{i.team2.team }}">
                                        <div class="name">{{i.team2.team }}</div>
                                    </div>
                                </div>
                                <div class="vanues">
                                    <div class="stadium"><span>Venue:</span>{{i.stadium}}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% for i in matchlist1 %}
                        <div class="items">
                            <a href="#">
                                <div class="vanues">
                                    <div class="date">{{i.match_date}}</div>
                                </div>
                                <div class="teams">
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team1.teamlogo.url}}" alt="{{i.team1.team }}">
                                        <div class="name">{{i.team1.team }}</div>
                                    </div>
                                    <div class="time-vs">
                                        <span class="vs">vs</span>
                                    </div>
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team2.teamlogo.url}}" alt="{{i.team2.team }}">
                                        <div class="name">{{i.team2.team }}</div>
                                    </div>
                                </div>
                                <div class="vanues">
                                    <div class="stadium"><span>Venue:</span>{{i.stadium}}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>  
                {% endif %} -->
                <div class="rs-match-result style1 modify-style fly-box">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
                        
                        {% for i in matchlist2 %}
                        <div class="items">
                            <a href="#">
                                <div class="vanues">
                                    <div class="date">{{i.match_date}}</div>
                                </div>
                                <div class="teams">
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team1.teamlogo.url}}" alt="{{i.team1.team }}">
                                        <div class="name">{{i.team1.team }}</div>
                                    </div>
                                    <div class="time-vs">
                                        <span class="vs">vs</span>
                                    </div>
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team2.teamlogo.url}}" alt="{{i.team2.team }}">
                                        <div class="name">{{i.team2.team }}</div>
                                    </div>
                                </div>
                                <div class="vanues">
                                    <div class="stadium"><span>Venue:</span>{{i.stadium}}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% for i in matchlist1 %}
                        <div class="items">
                            <a href="#">
                                <div class="vanues">
                                    <div class="date">{{i.match_date}}</div>
                                </div>
                                <div class="teams">
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team1.teamlogo.url}}" alt="{{i.team1.team }}">
                                        <div class="name">{{i.team1.team }}</div>
                                    </div>
                                    <div class="time-vs">
                                        <span class="vs">vs</span>
                                    </div>
                                    <div class="logo">
                                        <img class="size-80" src="{{i.team2.teamlogo.url}}" alt="{{i.team2.team }}">
                                        <div class="name">{{i.team2.team }}</div>
                                    </div>
                                </div>
                                <div class="vanues">
                                    <div class="stadium"><span>Venue:</span>{{i.stadium}}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>  
                
                <div class="row pt-100 md-pt-80">
                    <div class="col-lg-3 col-md-12 md-mb-30">
                        <div class="club-logo text-center">
                            <img src="{{clubdetails.club.teamlogo.url}}" alt="{{clubdetails.club.team}}">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="club-details center-md mb-30">
                            <ul class="team-info-list">
                                <li>
                                    <strong> President</strong>
                                    <span>{{clubdetails.president}}</span>
                                </li>
                                <li>
                                    <strong>Manager Name</strong>
                                    <span>{{clubdetails.manager}}</span>
                                </li>
                              
                                <li>
                                    <strong> Coach</strong>
                                    <span>{{clubdetails.coach}}</span>
                                </li>
                                 <li>
                                    <strong>Location</strong>
                                    <span>{{clubdetails.location}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="rs-count center-md mb-100 md-mb-71">
                            <div class="row">
                                <div class="col-lg-3 col-6 md-mb-30">
                                    <div class="rs-counter-list">
                                        <h2 class="counter-number">{{clubdetails.established}}</h2>
                                        <h4 class="counter-text">Established in</h4>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6 md-mb-30">
                                    <div class="rs-counter-list">
                                        <h2 class="counter-number">{{clubdetails.champions}}</h2>
                                        <h4 class="counter-text">Champions</h4>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="rs-counter-list">
                                        <h2 class="counter-number">{{clubdetails.players}}</h2>
                                        <h4 class="counter-text">Current Players</h4>
                                    </div>
                                </div>
                                {% comment %} <div class="col-lg-3 col-6">
                                    <div class="rs-counter-list">
                                        <h2 class="counter-number">82</h2>
                                        <h4 class="counter-text">Top Players</h4>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-tab pb-90 md-pb-60">
                    <div class="club-details_data">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#club-history">Club history</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#squad-list">Players</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#champion">Champion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#gallery">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#jersy">Jersy</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="club-history">
                                <div class="about-club ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p> {{clubdetails.about|safe}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <img class="alignright" src=" {{clubdetails.bannerpic.url}}" alt="">
                                        </div>
                                    </div>
                                    <!-- <p>
                                        {{clubdetails.about|safe}} -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="squad-list">
                                <div class="squad-list">
                                    <div class="row">
                                        {% for i in players %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 lg-mb-30">
                                            <div class="squad-list-item">
                                                <a >
                                                    <img src="{{i.photo.url}}" alt="">
                                                </a>
                                                <div class="name">
                                                    <a >{{i.name}}</a>
                                                </div>
                                                <div class="position">{{i.position}}</div>
                                                <div class="jersy">{{i.kit_number}}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="champion">
                                <div class="club-awards">
                                    <div class="row">
                                        {% for i in awards %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 lg-mb-30">
                                            <div class="award-wrap">
                                                <div class="champion-logo">
                                                    <img src="{{i.photo.crop.247x323}}" alt="Award">
                                                </div>
                                                <div class="champion-details">
                                                    <div class="year-details">
                                                        <h4 class="title mb-17">{{i.awardname}}</h4>
                                                        <span>{{i.year}}</span>
                                                    </div>
                                                    {% comment %} <div class="champion-no">5</div> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="gallery">
                                <div class="club-gallery">
                                    <div class="row">
                                        {% for i in gallery %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-30">
                                            <div class="gallery-wrap">
                                                <img src="{{i.photo.crop.400x400}}" alt="">
                                                <a class="image-popup" href="{{i.photo.url}}">
                                                    <i class="flaticon-add-circular-button"></i>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="jersy">
                                <div class="club-jersy">
                                    <div class="row">
                                        {% for i in jersey %}
                                        <div class="col-lg-4 col-md-6 sm-mb-30">
                                            <div class="champion-logo">
                                                <img src="{{i.photo.crop.400x400}}" alt="jersy">
                                            </div>
                                            <div class="champion-details">
                                                <div class="year-details">
                                                    <h3>{{i.title}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                       {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="club-videos pb-90 md-pb-70">
                    <div class="title-style pb-50 md-pb-30">
                        <h2 class="margin-0 uppercase">Club Videos</h2>
                        <span class="line-bg y-b pt-10 left-line"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 md-mb-30">
                            <div class="video-wrap">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=pH_G1f6KzfI">
                                    <img src="{% static 'images/video-thumb/1.jpg' %}" alt="">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 md-mb-30">
                            <div class="video-wrap">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=1vNmYNH8d4I">
                                    <img src="{% static 'images/video-thumb/2.jpg' %}" alt="">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="video-wrap">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=jvrayw6wANg">
                                    <img src="{% static 'images/video-thumb/3.jpg' %}" alt="">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rs-blog pb-100 md-pb-80">
                    <div class="title-style pb-50 md-pb-30">
                        <h2 class="margin-0 uppercase">Club News</h2>
                        <span class="line-bg y-b pt-10 left-line"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 md-mb-30">
                            <div class="blog-item ">
                                <div class="blog-img">
                                    <div class="image-wrap">
                                        <a href="#"><img src="{% static 'images/club-news/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="all-meta">
                                        <div class="meta meta-date">
                                            <span class="month-day">20</span>
                                            <span class="month-name">Jun</span>
                                        </div>
                                        <div class="meta meta-author">
                                            <i class="flaticon-user-1"></i>
                                            <span class="author">admin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h4 class="blog-title">
                                        <a href="#">Ground Round Football Starts Right Here</a>
                                    </h4>
                                    <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 md-mb-30">
                            <div class="blog-item ">
                                <div class="blog-img">
                                    <div class="image-wrap">
                                        <a href="#"><img src="{% static 'images/club-news/2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="all-meta">
                                        <div class="meta meta-date">
                                            <span class="month-day">20</span>
                                            <span class="month-name">Jun</span>
                                        </div>
                                        <div class="meta meta-author">
                                            <i class="flaticon-user-1"></i>
                                            <span class="author">admin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h4 class="blog-title">
                                        <a href="#">Everything In Soccer Starts The Premier League</a>
                                    </h4>
                                    <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="blog-item ">
                                <div class="blog-img">
                                    <div class="image-wrap">
                                        <a href="#"><img src="{% static 'images/club-news/3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="all-meta">
                                        <div class="meta meta-date">
                                            <span class="month-day">20</span>
                                            <span class="month-name">Jun</span>
                                        </div>
                                        <div class="meta meta-author">
                                            <i class="flaticon-user-1"></i>
                                            <span class="author">admin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h4 class="blog-title">
                                        <a href="#">Latest Point Table Stats For The Premier League</a>
                                    </h4>
                                    <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% include 'partials/subscription.html' %}
            </div>
        </div>
        
                {% endblock %}