{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<style> @media only screen and (max-width: 400px) {
 .titleheading{
 font-size: 14px !important;
}
}
   
</style>

<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New3.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17 titleheading">GEDEXO KERALA SUPER LEAGUE</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/league">League & Cups</a></li>
                            <li class="active">GEDEXO KERALA SUPER LEAGUE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<div class="rs-about pt-100 pb-100 md-pt-80 md-pb-73">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center">
                <div class="about-img">
                    <img src="{% static 'images/award/1.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 pl-40 col-padding-md">
                <div class="title-style mb-50 md-mb-30">
                    <h2 class="margin-0 uppercase">GEDEXO KERALA SUPER LEAGUE</h2>
                    <span class="line-bg y-b left-line pt-10"></span>
                </div>
                <div class="about-wrap">
                    <p class="title-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod voluptatem pariatur eveniet velit minima quia illo ut ea provident maiores nisi possimus distinctio inventore, consequatur voluptatibus, nulla temporibus at. Aliquid. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde dolorem voluptatum repudiandae repellat voluptatibus molestiae laboriosam. In officia nemo quo ullam quisquam! Similique exercitationem ut consequuntur molestias facere reiciendis hic. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, nostrum odio dolore optio quidem nemo sint fuga aspernatur nesciunt quasi similique perspiciatis obcaecati veritatis quas, pariatur minus dolorem voluptates dicta..</p>

                </div>
               

            </div>
        </div>
    </div>
</div>


<div class="rs-team style1 nav-style ">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Club Logos</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>

        <div class="rs-carousel owl-carousel mb-100 md-mb-80" data-loop="true" data-items="4" data-margin="30"
            data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true"
            data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false"
            data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
            data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true"
            data-md-device-dots="false">
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/2.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/1.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/3.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/4.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/5.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/2.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/2.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/1.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/3.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/4.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/5.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="player-item">
                <div class="player-img">
                    <a href="/club">
                        <img src="{% static 'images/clublogos/2.png' %}" alt="">
                    </a>
                </div>

            </div>
            

        </div>
    </div>
</div>

<!-- Match Fixture Section Start -->
<div class="rs-match-fixture style2 pt-100 md-pt-80">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Match Fixtures</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <div class="match-list bg11 pt-57 pb-57 md-pt-27 md-pb-27 mb-100 md-mb-80">
            <table>
                <tbody>
                    <tr>
                        <td class="medium-font">Barcelona</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Arsenal</td>
                        <td>July 31 2019, 00:00</td>
                        <td>Emirates Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Barcelona</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Chelsea</td>
                        <td>August 15 2019, 00:00</td>
                        <td>Stamford Bridge</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Barcelona</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Liverpool</td>
                        <td>July 18 2019, 00:00</td>
                        <td>Central Olympic Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Barcelona</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Manchester Unt</td>
                        <td>April 09 2019, 00:00</td>
                        <td>Old Trafford Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Real Madrid</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Chelsea</td>
                        <td>April 09 2019, 00:00</td>
                        <td>Santiago Bernabéu Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Manchester Unt</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Real Sociedad</td>
                        <td>May 09 2019, 00:00</td>
                        <td>Real Anoeta Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Man City</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Real Sociedad</td>
                        <td>April 05 2019, 03:00</td>
                        <td>Real Anoeta Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Man City</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Arsenal</td>
                        <td>April 04 2019, 03:00</td>
                        <td>Etihad Stadium</td>
                    </tr>
                    <tr>
                        <td class="medium-font">Man City</td>
                        <td class="short-width">VS</td>
                        <td class="medium-font">Liverpool</td>
                        <td>April 07 2019, 03:00</td>
                        <td>Etihad Stadium</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>
<!-- Match Fixture Section End -->


<!-- Result Info Section Start -->
<div class="rs-result inner pt-100 md-pt-80">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Results</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <div class="result-info pb-100 md-pb-80">
            <table class="result-table">
                <tbody>
                    <tr>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/4.png' %}" alt="">Real
                            Madrid</td>
                        <td><span class="total-goal">2-1</span></td>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/6.png' %}"
                                alt="">Atletico Madrid</td>
                        <td>April 04 2019</td>
                        <td><a href="#" class="readon">View Statictics</a></td>
                    </tr>
                    <tr>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/2.png' %}" alt="">Real
                            Sociedad</td>
                        <td><span class="total-goal">2-1</span></td>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/1.png' %}"
                                alt="">Valencia</td>
                        <td>April 02 2019</td>
                        <td><a href="#" class="readon">View Statictics</a></td>
                    </tr>
                    <tr>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/4.png' %}" alt="">Real
                            Madrid</td>
                        <td><span class="total-goal">3-2</span></td>
                        <td class="logo"><img class="size-60" src="{% static 'images/team-logo/9.png' %}"
                                alt="">Barcelona</td>
                        <td>April 01 2019</td>
                        <td><a href="#" class="readon">View Statictics</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>
<!-- Result Info Section End -->

<div class="rs-pointtable inner-style  full-ranking ">
    <div class="container custom">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="title">Point Table</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>
        <table class="ranking-wrap">
            <tbody>
                <tr>
                    <th>POS</th>
                    <th class="team">Team</th>
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GS</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{% static 'images/team-logo/9.png' %}" alt="Image">
                                Barcelona
                            </a>
                        </div>
                    </td>
                    <td>34</td>
                    <td>26</td>
                    <td>5</td>
                    <td>3</td>
                    <td>72</td>
                    <td>44</td>
                    <td>28</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{% static 'images/team-logo/4.png' %}" alt="Image">
                                Real Madrid
                            </a>
                        </div>
                    </td>
                    <td>34</td>
                    <td>26</td>
                    <td>5</td>
                    <td>3</td>
                    <td>72</td>
                    <td>44</td>
                    <td>28</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{% static 'images/team-logo/8.png' %}" alt="Image">
                                Man City
                            </a>
                        </div>
                    </td>
                    <td>34</td>
                    <td>26</td>
                    <td>5</td>
                    <td>3</td>
                    <td>72</td>
                    <td>44</td>
                    <td>28</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{% static 'images/team-logo/11.png' %}" alt="Image">
                                Westhum
                            </a>
                        </div>
                    </td>
                    <td>34</td>
                    <td>26</td>
                    <td>5</td>
                    <td>3</td>
                    <td>72</td>
                    <td>44</td>
                    <td>28</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <div class="club-item">
                            <a href="#">
                                <img src="{% static 'images/team-logo/3.png' %}" alt="Image">
                                Liverpool
                            </a>
                        </div>
                    </td>
                    <td>34</td>
                    <td>26</td>
                    <td>5</td>
                    <td>3</td>
                    <td>72</td>
                    <td>44</td>
                    <td>28</td>
                    <td>83</td>
                </tr>

            </tbody>
        </table>

        <!-- Subscribe Section Start -->

        <!-- Subscribe Section End -->
    </div>
</div>

<!-- Point Table Start -->



{% endblock %}