{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="{% static 'images/New2.jpg' %}" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17">Sponsors</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Sponsors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Sponsor Section Start -->
<div class="rs-sponsor-inner sec-bg2 pt-90 md-pt-70 md-pb-80">
    <div class="container">
        <div class="title-style text-center mb-50 md-mb-30">
            <h2 class="margin-0 uppercase">Main Sponsors</h2>
            <span class="line-bg y-b pt-10"></span>
        </div>

        <div class="sponsor-grid">
            <div class="row rs-vertical-middle">
                {% for i in sponsors %}
                <div class="col-md-3 sm-mb-30 mb-50">
                    <div class="sponsor-item">
                        <img src="{{ i.sponsors_logo.crop.230x115 }}" alt="">
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% include 'partials/subscription.html' %}
    </div>
</div>
<!-- Sponsor Section End -->


{% endblock %}