{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs">
            <div class="breadcrumbs-wrap">
                <img src="{% static 'images/breadcrumbs/inner8.jpg' %}" alt="Breadcrumbs Image">
                <div class="breadcrumbs-inner">
                    <div class="container">
                        <div class="breadcrumbs-text">
                            <h1 class="breadcrumbs-title mb-17">Sponsors</h1>
                            <div class="categories">
                                <ul>
                                    <li><a href="index">Home</a></li>
                                    <li class="active">Sponsors</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Sponsor Section Start -->
        <div class="rs-sponsor-inner pt-90 pb-100 md-pt-70 md-pb-80">
            <div class="container">
                <div class="title-style text-center mb-50 md-mb-30">
                    <h2 class="margin-0 uppercase">Main Sponsors</h2>
                    <span class="line-bg y-b pt-10"></span>
                </div>

                <div class="sponsor-grid">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/2.png" alt="">
                            </div>
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/4.png" alt="">
                            </div>
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/5.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sponsor Section End -->

        <!-- Sponsor Section Start -->
        <div class="rs-sponsor-inner sec-bg2 pt-90 md-pt-70 md-pb-80">
            <div class="container">
                <div class="title-style text-center mb-50 md-mb-30">
                    <h2 class="margin-0 uppercase">Global Sponsors</h2>
                    <span class="line-bg y-b pt-10"></span>
                </div>
                <div class="sponsor-grid pb-100 md-pb-80">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/2.png" alt="">
                            </div>
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/1.png" alt="">
                            </div>
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/8.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3 sm-mb-30">
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/4.png" alt="">
                            </div>
                            <div class="sponsor-item mb-30">
                                <img src="images/sponsor/dark/6.png" alt="">
                            </div>
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/7.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="sponsor-item">
                                <img src="images/sponsor/dark/5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

    {% endblock %}